body {
    font-family: sans-serif;
}

#header {
    background-color: #363062;
    color: white;

    margin: 0px;
    padding: 1px;
}

#header-content {
    padding-left: 25px;
}

.fit {
    margin: 0;
    padding: 0;
}

#body{
    padding: 10px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #827397;
}

.list {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    min-width: 250px;
    width: 20%;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    vertical-align: top;
    margin: 10px;
}

.list-content {
    padding: 10px;
}

.list-title {
    margin-top: 0px;
    font-size: 1.7em;
}

.item {
    border-radius: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 20px;
    margin-top: 10px;
    white-space: normal;
}