<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Unsupported :(</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>I'm really sorry, but your device or browser is unsupported by this website. If you are on a phone, 
            I am working on a mobile app for iOS. If you're using IE, just get a new browser. Seriously, basically 
            every other one will work.</div>
    </body>
</html>
